@model IEnumerable<Test_Application.TestData>
@{ 
    Layout = null;
}

<table class="table table-hover">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @if (item.Gender)
            {
                <span>Male</span>
            }
            else
            {
                <span>Female</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile)
        </td>
        <td>
            <button class="btn btn-info btn-xs" onclick="LoadFrm(@item.Id);" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-pencil"></i>
            </button> | 
            <button class="btn btn-danger btn-xs" type="button" onclick="SetDelId(@item.Id)"
                    data-target="#ConfModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                <i class="fa fa-trash-o"></i>
            </button>
        </td>
        
    </tr>
}

</table>
<div class="panel panel-body panel-info">
    <span class="text-info text-center">Datatables.JS also can be used</span>
</div>